*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    padding-top: 120px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #333;
    background: #ffafbd;
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
}

body > header {
    display: flex;
    align-items: center;
    padding: 20px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body > header .user-avatar {
    width: 40px;
    height: 40px;
    object-fit: contain;
    object-position: center center;
    border-radius: 50%;
    margin-right: 20px;
}

body > header .user-name {
    font-size: 24px;
    font-weight: 400;
}

body > header .logout-btn {
    margin-left: auto;
}

button {
    font: inherit;
    color: inherit;

    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

form p {
    font-weight: 600;
}

.field {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 5px 0;
}

.field label {
    width: 100px;
    font-size: 14px;
}

.field input {
    font: inherit;
    color: inherit;

    flex-grow: 1;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 3px;
    margin-left: auto;
    font-size: 14px;
    text-align: left;
}

.field input[type="file"] {
    padding-left: 0;
    padding-right: 0;
}

.field button {
    color: #fff;
    background-color: #1e88e5;
}

.field.actions {
    display: flex;
    justify-content: flex-end;
}

.cart-items {
    width: 500px;
    padding: 0;
    list-style: none;
}

.cart-item {
    border-radius: 5px;
    margin: 5px 0;
    background-color: #fff;
}

.cart-item img {
    max-width: 100%;
}

.cart-item header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.cart-item p {
    margin: 0;
}

.item-quantity {
    font-size: 14px;
    opacity: 0.5;
}

.item-quantity::after {
    content: "x";
    display: inline-block;
    margin-right: 10px;
}

.item-name {
    font-weight: 600;
}

p.item-price {
    margin-left: auto;
    font-size: 14px;
}

.checkout {
    padding: 10px 20px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #43A047;
}
