*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #333;
    background: #ffafbd;
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
}

h1 {
    font-size: 42px;
    font-weight: 600;
}

h1 span {
    font-weight: 300;
}

button {
    font: inherit;
    color: inherit;

    width: 210px;
    padding: 0.75em 2em;
    border: none;
    border-radius: 3px;
    margin: 3px 0;
    font-size: 14px;
    text-align: left;
}
