*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #333;
    background: #ffafbd;
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
}

header {
    display: flex;
    align-items: center;
    padding: 20px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header .user-avatar {
    width: 40px;
    height: 40px;
    object-fit: contain;
    object-position: center center;
    border-radius: 50%;
    margin-right: 20px;
}

header .user-name {
    font-size: 24px;
    font-weight: 400;
}

header .switch {
    margin-left: auto;
}

header .logout-btn {
    margin-left: 20px;
}

button {
    font: inherit;
    color: inherit;

    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    text-align: left;
}

h1 {
    font-size: 28px;
    font-weight: 400;
}

.field {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 10px 0;
}

.field label {
    width: 100px;
    font-size: 14px;
}

.field input {
    font: inherit;
    color: inherit;

    flex-grow: 1;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 3px;
    margin-left: auto;
    font-size: 14px;
    text-align: left;
}

.field.actions {
    display: flex;
    justify-content: flex-end;
}

.field.actions button {
    color: #fff;
    background-color: #1e88e5;
}

.switch {
    position: relative;
}

.switch input {
    position: absolute;
    transform: scale(0.01);
    opacity: 0.01;
}

.switch span {
    display: block;
    width: 60px;
    height: 33px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
}

.switch span::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 27px;
    height: 27px;
    border-radius: 3px;
    background-color: #ddd;
}

.switch input:checked + span::before {
    left: 30px;
    background-color: #2196F3;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

