<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Cart | GrooceryKanga</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
        <link rel="stylesheet" href="stylesheets/chat.css">

        <script defer src="/__/firebase/4.5.1/firebase-app.js"></script>
        <script defer src="/__/firebase/4.5.1/firebase-auth.js"></script>
        <script defer src="/__/firebase/4.5.1/firebase-firestore.js"></script>
        <script defer src="/__/firebase/4.5.1/firebase-messaging.js"></script>
        <script defer src="/__/firebase/4.5.1/firebase-storage.js"></script>
        <script defer src="/__/firebase/init.js"></script>
        <script defer src="javascripts/jquery.js"></script>
        <script defer src="javascripts/handlebars.js"></script>
        <script defer src="javascripts/cart.js"></script>
    </head>

    <body>
        <header>
            <img src="#" alt="name" class="user-avatar">
            <h2 class="user-name">Arnelle Balane</h2>
            <button class="logout-btn">Logout</button>
        </header>

        <form action="#" class="cart-form">
            <p>Add grocery items</p>
            <div class="field">
                <label>Name</label>
                <input type="text" name="item" id="item" class="input-name">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="file" name="image" id="image" class="input-image">
            </div>
            <div class="field">
                <label>Price</label>
                <input type="number" name="price" min="0" step="0.1" id="price" class="input-price">
            </div>
            <div class="field">
                <label>Quantity</label>
                <input type="number" name="quantity" min="1" step="1" value="1" id="quantity" class="input-quantity">
            </div>
            <div class="field actions">
                <button>Add</button>
            </div>
        </form>

        <ol class="cart-items"></ol>

        <button class="checkout">
            Pay RM <span class="total-price">0.00</span>
        </button>

        <template id="item">
            <li class="cart-item" data-id="{{id}}">
                <header>
                    <p class="item-quantity">{{quantity}}</p>
                    <p class="item-name">{{name}}</p>
                    {{#if totalPrice}}
                        <p class="item-price">RM {{totalPrice}}</p>
                    {{/if}}
                </header>
                {{#if image}}
                    <img src="{{image}}" alt="{{name}}">
                {{/if}}
            </li>
        </template>
    </body>
</html>
